

            Annotation completed!!

            All documents in $source have been annotated with topics from $model

            Thanks for using our services!

librAIry Framework
http://librairy.linkeddata.es

Ontology Engineering Group
Universidad Politecnica de Madrid
2019